<div class="login">
  <img class="login--logo" src="assets/imgs/login-logo.png">

  <h1>Exchange</h1>

  <div class="login--content">
    <h4>Login</h4>
    <h6>Please sign in to continue</h6>

    <div class="login--content--field">
      <img src="assets/imgs/icon-email.png">
      <input type="text" placeholder="EMAIL">
    </div>
    <div class="login--content--field">
      <img src="assets/imgs/icon-password.png">
      <input type="password" placeholder="PASSWORD">
    </div>
  </div>

  <div class="login--button">
    <button>LOGIN</button>
  </div>
  <pre>Forgot Password?</pre>

  <span routerLink="/register">Don't have an account? <a>Sign up</a></span>
</div>
