<div class="products">
  <img class="products--detail" src="assets/imgs/home-detail.png">
  <img routerLink="/home" class="products--back" src="assets/imgs/icon-back.png">

  <div class="products--header">
    <h1>Results</h1>
    <h6>Loading graphics...</h6>
  </div>

  <div class="products--body">
    <div class="products--body--title">
      <h5>Today</h5>
      <span>Choose a day</span>
    </div>

    <div *ngFor="let product of listProducts" class="products--body--item">
      <img src="assets/imgs/icon-people.png">
      <div class="products--body--item--info">
        <span>{{product.name}}</span>
        <a>{{product.phone}}</a>
      </div>
      <strong *ngIf="product.isMine"><b>Yours</b></strong>
      <strong *ngIf="!product.isMine">{{product.hour}}</strong>
    </div>
  </div>
</div>
