<div class="register">
  <img routerLink="/login" class="register--back" src="assets/imgs/icon-back.png">

  <h1>Create Account</h1>
  <h4>Please fill the input blow here</h4>

  <div class="register--content">
    <div class="register--content--field">
      <img src="assets/imgs/icon-name.png">
      <input type="text" placeholder="FULL NAME">
    </div>
    <div class="register--content--field">
      <img src="assets/imgs/icon-phone.png">
      <input type="text" placeholder="PHONE" mask="(00)00000-0000">
    </div>
    <div class="register--content--field">
      <img src="assets/imgs/icon-email.png">
      <input type="text" placeholder="EMAIL">
    </div>
    <div class="register--content--field">
      <img src="assets/imgs/icon-password.png">
      <input type="password" placeholder="PASSWORD">
    </div>
    <div class="register--content--field">
      <img src="assets/imgs/icon-password.png">
      <input type="password" placeholder="CONFIRM PASSWORD">
    </div>
  </div>

  <div class="register--button">
    <button>SIGN UP</button>
  </div>
</div>
