<div class="home">
  <img class="home--detail" src="assets/imgs/home-detail.png">

  <div class="home--header">
    <h1>Hi, Teste Exchange</h1>
    <h6>Do you need something?</h6>
    <h6>We have people interested in exchanging</h6>

    <div class="home--header--search">
      <img src="assets/imgs/icon-search.png">
      <input type="text" placeholder="Look for something to exchange">
    </div>
  </div>

  <div class="home--body">
    <h5>Shortcuts</h5>

    <div class="wrap">

      <div class="home--body--item" routerLink="/products">
        <p><strong>economy</strong> with your latest <strong>exchange</strong></p>
        <img src="assets/imgs/home1.png">
      </div>
      <div class="home--body--item home2">
        <img src="assets/imgs/home2.png">
        <h6>your wish list</h6>
      </div>
      <div class="home--body--item home2">
        <h6>HOW TO USE</h6>
        <img src="assets/imgs/home3.png">
      </div>
      <div class="home--body--item home4">
        <h6>MAP</h6>
        <img src="assets/imgs/home4.png">
        <span>search in the neighborhood</span>
      </div>
    </div>
  </div>
</div>
